<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div>
    <a href="/chart"> Image</a>
  </div>
  <div>
    <a href="/pdf"> Pdf</a>
  </div>
  <div>
    <a href="/html2pdf"> Pdf using ejs</a>
  </div>
  <div>
    <a href="/download-pdf"> Dowload pdf</a>
  </div>
</body>
</html>